/*text*/
h1, h2, h3, h4, h5 {font-family: 'Quicksand', sans-serif;}
body, a, .card-subtitle {font-family: 'Montserrat', sans-serif;}
/*background*/
body {
    background-color: #F8F8F8;
}
/*nav*/
.purpledivider {
    color: #7E82F9;
    font-weight: 700;
    margin-right: 10px;
}
nav {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}
/*hero*/
.bgherobookmark {
    background-color: #7E82F9;
}
.herobookmark-bottom {
    background-color: #7E82F9;
    padding-top: 20px;
    color: white;
    text-align: end;
}
.herotxt {
    margin-right: 10%;
}
.ruler {
    margin-bottom: 0;
}
.carousel-caption {
    background-color: rgba(255, 255, 255, 0.692);
}
.carousel-caption p,.carousel-caption h5 {
    color: #5457af;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
/*dailychallenge*/
.bgchallengesquare {
    background-image: url(../images/bgchallengesquare.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-right: 50px;
    padding-left: 75px;
}
/*margins*/
.containermargintop {
    margin-top: 50px;
}
.marginright30 {
    margin-right: 30px;
}
/*mentoring*/
.mentortxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bgmentorsquare {
    display: flex;
}
/*covid*/
.bggrabngo {
    background-image: url(../images/bgcovidsquare.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*events*/
.marginleft30 {
    margin-left: 30px;
}
.calendarcardshadow:hover  {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    box-shadow: -2px -4px 10px rgba(0, 0, 0, 0.15);
}
/*footer*/

